/*llamados a la carpeta utilities*/
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.aparecerAbajo {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.aparecerIzquierda {
  animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.aparecerArriba {
  animation: fadeInFromTop 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.aparecerDerecha {
  animation: fadeInRight 1s ease-in-out;
}

/*llamamos a la carpeta base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Crimson Text", serif;
}

.fuenteLogo h1 {
  font-family: "Pinyon Script", serif;
  font-style: normal;
}

/*llamamos a la carpeta layout*/
header p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  background-color: #f7ced7;
  text-align: center;
  padding: 10px;
}
header .variosEncabezado {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
header .variosEncabezado .contenedor {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
}
header .variosEncabezado .contenedor h1 {
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  margin-right: 50px;
}
header .variosEncabezado .contenedor h1 a {
  color: #000000;
  text-decoration: none;
}
header .variosEncabezado .contenedor input {
  padding: 8px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}
header .variosEncabezado .contenedor input input:focus {
  border-color: #FF9999;
  outline: none;
}
header .variosEncabezado .contenedor img {
  justify-self: end;
  cursor: pointer;
}
header nav {
  background-color: #f7ced7;
  padding: 10px 0;
}
header nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  margin: 0 20px;
}
header nav ul a {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  transition: color 0.3s;
}
header nav ul a a:hover, header nav ul a a:focus {
  color: #FF9999;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}
form input[type=email] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}
form input[type=email]:focus {
  border-color: #FF9999;
  outline: none;
}
form button[type=submit] {
  padding: 10px 10px;
  background-color: #ee99ac;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
form button[type=submit] button:hover, form button[type=submit] button:focus {
  background-color: #6B6B6B;
}

footer {
  background-color: #f7ced7;
  margin-top: 10px;
  padding: 20px 0;
}
footer .footerContenedor {
  max-width: 95%;
  margin: 0 auto;
}
footer .footerContenedor .footerRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
footer .footerContenedor .footerRow .footerCol {
  flex: 1;
  max-width: 33%;
  padding: 5px;
}
footer .footerContenedor .footerRow .footerCol h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .footerContenedor .footerRow .footerCol p {
  font-size: 14px;
  color: #333;
}
footer .footerContenedor .footerRow .footerCol form input[type=email] {
  font-size: 12px;
}
footer .footerFinal {
  font-size: 12px;
  color: #333;
  text-align: left;
  padding-top: 20px;
}

/*llamamos a la carpeta components*/
.agregarProductoCarrito {
  color: #333;
  padding: 10px;
  background-color: #f7ced7;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  display: block;
  margin: 10px auto 0 auto;
  cursor: pointer;
  transition: background-color 0.3s;
}

.resumenCompra {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  margin: 40px auto;
  padding: 25px;
  max-width: 80%;
  border-radius: 12px;
  background-color: #FFFDEC;
}
.resumenCompra .listadoProductosCarrito {
  flex: 2;
}
.resumenCompra .listadoProductosCarrito h2 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #333;
}
.resumenCompra .listadoProductosCarrito ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.resumenCompra .listadoProductosCarrito ul li {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  margin-bottom: 10px;
  gap: 6px;
  border: 1px solid #eee;
  border-radius: 8px;
  background: #fafafa;
  font-size: 14px;
  color: #555;
}
.resumenCompra .listadoProductosCarrito ul li button {
  margin-left: 2px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #f7ced7;
  color: #333;
  transition: background 0.3s;
}
.resumenCompra .listadoProductosCarrito ul li button:hover {
  background: rgb(239.8421052632, 162.1578947368, 179.2105263158);
}
.resumenCompra .listadoProductosCarrito #vaciarCarrito {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #ffefef;
  color: black;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s;
}
.resumenCompra .listadoProductosCarrito #vaciarCarrito:hover {
  background: #f7ced7;
}
.resumenCompra .totalCompraCarrito {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #eee;
}
.resumenCompra .totalCompraCarrito p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}
.resumenCompra .totalCompraCarrito #comprar {
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #f7ced7;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  transition: background 0.3s;
}
.resumenCompra .totalCompraCarrito #comprar:hover {
  background: rgb(239.8421052632, 162.1578947368, 179.2105263158);
}
.resumenCompra #mensajeCompra {
  margin-top: 20px;
  font-weight: bold;
}

.productosExtrasCarrito {
  font-size: 20px;
  padding: 15px;
  text-align: center;
  margin: 20px;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.aparecerAbajo {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.aparecerIzquierda {
  animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.aparecerArriba {
  animation: fadeInFromTop 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.aparecerDerecha {
  animation: fadeInRight 1s ease-in-out;
}

.carrusel {
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
  height: auto;
}
.carrusel ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
  margin-bottom: 20px;
}
.carrusel ul li {
  width: 100%;
  list-style: none;
}
.carrusel ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}
form input[type=email] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}
form input[type=email]:focus {
  border-color: #FF9999;
  outline: none;
}
form button[type=submit] {
  padding: 10px 10px;
  background-color: #ee99ac;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
form button[type=submit] button:hover, form button[type=submit] button:focus {
  background-color: #6B6B6B;
}

.extras {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 30px 30px 30px 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F9F9F9;
}
.extras img {
  max-width: 40%;
  border-radius: 10px;
  object-fit: cover;
}
.extras .contenedorTexto {
  padding: 20px;
}
.extras .contenedorTexto h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}
.extras .contenedorTexto form input[type=email] {
  font-size: 14px;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}
form input[type=email] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}
form input[type=email]:focus {
  border-color: #FF9999;
  outline: none;
}
form button[type=submit] {
  padding: 10px 10px;
  background-color: #ee99ac;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
form button[type=submit] button:hover, form button[type=submit] button:focus {
  background-color: #6B6B6B;
}

.primeraYTerceraTabla {
  background-color: #f7ced7;
  padding: 20px;
  margin: 30px auto;
  width: 90%;
  display: flex;
  justify-content: center;
}
.primeraYTerceraTabla .fila {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.primeraYTerceraTabla .fila .columnaTexto {
  padding: 20px;
  flex: 2;
}
.primeraYTerceraTabla .fila .columnaTexto h2 {
  font-size: 26px;
}
.primeraYTerceraTabla .fila .columnaTexto p {
  font-size: 18px;
}
.primeraYTerceraTabla .fila .columnaImagen {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primeraYTerceraTabla .fila .columnaImagen img {
  max-width: 100%;
  height: auto;
  display: block;
}

.segundaTabla {
  margin: 0 auto;
  width: 80%;
}
.segundaTabla div {
  margin: 30px;
}
.segundaTabla div p {
  font-size: 18px;
}
.segundaTabla div p span {
  color: #f7ced7;
  font-size: 26px;
  font-weight: bold;
  margin-right: 10px;
}

.soloCentrar {
  text-align: center;
}
.soloCentrar p {
  padding: 5px;
}

.tituloPagina {
  font-size: 30px;
  padding: 15px;
  text-align: center;
  background-color: #f7ced7;
  margin: 20px;
}

.contenedorTutoriales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.contenedorTutoriales .video {
  text-align: center;
  padding: 15px;
}
.contenedorTutoriales .video iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5%;
}
.contenedorTutoriales .video p {
  text-align: left;
  font-size: 16px;
  color: #333;
}

.ubicacion {
  width: 90%;
  text-align: center;
  justify-content: center;
  margin: 40px auto 40px auto;
}
.ubicacion .contenedorTienda {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.ubicacion .contenedorTienda .info {
  flex: 1;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
.ubicacion .contenedorTienda .info p {
  font-size: 16px;
  color: #333;
  margin: 10px;
}
.ubicacion .contenedorTienda .info img {
  width: 100%;
  height: auto;
  border-radius: 5%;
  margin: auto;
}
.ubicacion .contenedorTienda .mapa {
  flex: 1.5;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ubicacion .contenedorTienda .mapa iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
}

/*llamamos a la carpeta mediaQ*/
@media (max-width: 500px) {
  header p {
    font-size: 12px;
    padding: 7px;
  }
  header .variosEncabezado {
    padding: 8px;
    margin: 4px;
  }
  header .variosEncabezado .contenedor h1 {
    font-size: 20px;
    margin-right: 10px;
  }
  header .variosEncabezado .contenedor form input {
    font-size: 10px;
    padding: 2px;
  }
  header .variosEncabezado .contenedor form button {
    font-size: 8px;
    padding: 5px 5px;
  }
  header .variosEncabezado .contenedor img {
    width: 13px;
    height: 13px;
  }
  header nav {
    padding: 3px;
  }
  header nav ul li a {
    font-size: 10px;
  }
  footer {
    margin-top: 5px;
    padding: 0;
  }
  footer .footerContenedor .footerRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  footer .footerContenedor .footerRow .footerCol {
    max-width: 100%;
    padding: 5px;
  }
  footer .footerContenedor .footerRow .footerCol h2 {
    font-size: 10px;
  }
  footer .footerContenedor .footerRow .footerCol p {
    font-size: 8px;
  }
  footer .footerContenedor .footerRow .footerCol form {
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
  }
  footer .footerContenedor .footerRow .footerCol form input[type=email] {
    padding: 5px;
    font-size: 6px;
  }
  footer .footerContenedor .footerRow .footerCol form button[type=submit] {
    padding: 5px 5px;
    font-size: 7px;
  }
  footer .footerContenedor .footerFinal {
    padding-top: 5px;
  }
  footer .footerContenedor .footerFinal p {
    font-size: 5px;
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 900px) {
  header p {
    padding: 8px;
  }
  footer {
    padding: 0;
  }
  footer .footerContenedor .footerRow .footerCol {
    max-width: 100%;
    padding: 5px;
  }
  footer .footerContenedor .footerRow .footerCol h2 {
    font-size: 15px;
  }
  footer .footerContenedor .footerRow .footerCol p {
    font-size: 11px;
  }
  footer .footerContenedor .footerRow .footerCol form {
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
  }
  footer .footerContenedor .footerRow .footerCol form input[type=email] {
    padding: 5px;
    font-size: 6px;
  }
  footer .footerContenedor .footerRow .footerCol form button[type=submit] {
    padding: 5px;
    font-size: 6px;
  }
  footer .footerContenedor .footerFinal {
    padding-top: 12px;
  }
  footer .footerContenedor .footerFinal p {
    font-size: 9px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .resumenCompra {
    gap: 10px;
    margin: 20px auto;
    padding: 10px;
    max-width: 95%;
  }
  .resumenCompra .listadoProductosCarrito h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .resumenCompra .listadoProductosCarrito ul li {
    padding: 5px 8px;
    margin-bottom: 5px;
    gap: 2px;
    font-size: 10px;
  }
  .resumenCompra .listadoProductosCarrito ul li button {
    margin-left: 0px;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 3px;
  }
  .resumenCompra .listadoProductosCarrito #vaciarCarrito {
    margin-top: 10px;
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 8px;
  }
  .resumenCompra .totalCompraCarrito {
    padding: 10px;
  }
  .resumenCompra .totalCompraCarrito p {
    font-size: 12px;
  }
  .resumenCompra .totalCompraCarrito #comprar {
    padding: 6px;
    border-radius: 4px;
    font-size: 11px;
  }
  .productosExtrasCarrito {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .resumenCompra {
    gap: 20px;
    margin: 30px auto;
    padding: 20px;
    max-width: 90%;
    border-radius: 10px;
  }
  .resumenCompra .listadoProductosCarrito h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .resumenCompra .listadoProductosCarrito ul li {
    padding: 9px 12px;
    margin-bottom: 8px;
    gap: 4px;
    font-size: 12px;
  }
  .resumenCompra .listadoProductosCarrito ul li button {
    margin-left: 1px;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 3px;
  }
  .resumenCompra .listadoProductosCarrito #vaciarCarrito {
    margin-top: 12px;
    padding: 8px 12px;
    border-radius: 3px;
    font-size: 10px;
  }
  .resumenCompra .totalCompraCarrito {
    padding: 15px;
  }
  .resumenCompra .totalCompraCarrito p {
    font-size: 14px;
  }
  .resumenCompra .totalCompraCarrito #comprar {
    padding: 9px;
    border-radius: 4px;
    font-size: 13px;
  }
  .productosExtrasCarrito {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
  }
}
@media (max-width: 500px) {
  .primeraYTerceraTabla {
    padding: 10px;
    margin: 10px auto;
  }
  .primeraYTerceraTabla .fila {
    gap: 10px;
  }
  .primeraYTerceraTabla .fila .columnaTexto {
    padding: 10px;
  }
  .primeraYTerceraTabla .fila .columnaTexto h2 {
    font-size: 16px;
  }
  .primeraYTerceraTabla .fila .columnaTexto p {
    font-size: 10px;
  }
  .segundaTabla div {
    margin: 10px;
  }
  .segundaTabla div p {
    font-size: 10px;
  }
  .segundaTabla div p span {
    font-size: 16px;
    margin-right: 5px;
  }
  .soloCentrar p {
    font-size: 10px;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .primeraYTerceraTabla {
    padding: 10px;
    margin: 10px auto;
  }
  .primeraYTerceraTabla .fila {
    gap: 10px;
  }
  .primeraYTerceraTabla .fila .columnaTexto {
    padding: 10px;
  }
  .primeraYTerceraTabla .fila .columnaTexto h2 {
    font-size: 20px;
  }
  .primeraYTerceraTabla .fila .columnaTexto p {
    font-size: 14px;
  }
  .segundaTabla div {
    margin: 20px;
  }
  .segundaTabla div p {
    font-size: 14px;
  }
  .segundaTabla div p span {
    font-size: 20px;
    margin-right: 5px;
  }
  .soloCentrar p {
    font-size: 10px;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  .primeraYTerceraTabla {
    padding: 15px;
    margin: 20px auto;
  }
  .primeraYTerceraTabla .fila .columnaTexto {
    padding: 15px;
  }
  .primeraYTerceraTabla .fila .columnaTexto h2 {
    font-size: 24px;
  }
  .primeraYTerceraTabla .fila .columnaTexto p {
    font-size: 16px;
  }
  .segundaTabla div {
    margin: 25px;
  }
  .segundaTabla div p {
    font-size: 16px;
  }
  .segundaTabla div p span {
    font-size: 24px;
  }
  .soloCentrar p {
    font-size: 14px;
  }
}
.alineacionProductos {
  width: 90%;
  text-align: left;
  margin: 20px auto;
}
.alineacionProductos h2 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  background-color: #f7ced7;
  padding: 10px;
  border-radius: 5px;
}
.alineacionProductos .contenedorProductos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 10px 15px 15px 15px;
}
.alineacionProductos .contenedorProductos .item {
  width: calc(20% - 20px);
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.alineacionProductos .contenedorProductos .item:hover {
  transform: translateY(-5px);
}
.alineacionProductos .contenedorProductos .item img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
.alineacionProductos .contenedorProductos .item h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
}
.alineacionProductos .contenedorProductos .item p {
  text-align: left;
}
.alineacionProductos .contenedorProductos .item .nombre {
  font-size: 16px;
  font-weight: 400;
  color: #555;
}
.alineacionProductos .contenedorProductos .item .precio {
  font-size: 14px;
  font-weight: 400;
  color: #222;
}

@media (max-width: 500px) {
  .alineacionProductos {
    margin: 10px;
    justify-content: center;
  }
  .alineacionProductos h2 {
    font-size: 16px;
    padding: 4px;
  }
  .alineacionProductos .contenedorProductos {
    flex-direction: row;
    gap: 10px;
    margin: 10px;
  }
  .alineacionProductos .contenedorProductos .item {
    width: calc(50% - 10px);
    padding: 5px;
  }
  .alineacionProductos .contenedorProductos .item h3 {
    font-size: 12px;
  }
  .alineacionProductos .contenedorProductos .item .nombre {
    font-size: 10px;
  }
  .alineacionProductos .contenedorProductos .item .precio {
    font-size: 8px;
  }
  .extras {
    margin: 5px;
    padding: 10px;
  }
  .extras img {
    max-width: 50%;
    height: auto;
    object-fit: contain;
  }
  .extras .contenedorTexto h2 {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .extras .contenedorTexto form {
    gap: 5px;
  }
  .extras .contenedorTexto form input[type=email] {
    font-size: 6px;
    padding: 5px;
  }
  .extras .contenedorTexto form button {
    font-size: 5px;
    padding: 5px 5px;
  }
}
@media (min-width: 501px) and (max-width: 900px) {
  .alineacionProductos h2 {
    font-size: 20px;
    padding: 6px;
  }
  .alineacionProductos .contenedorProductos {
    flex-direction: row;
    gap: 10px;
    margin: 10px;
  }
  .alineacionProductos .contenedorProductos .item {
    width: calc(33.33% - 10px);
  }
  .alineacionProductos .contenedorProductos .item h3 {
    font-size: 16px;
  }
  .alineacionProductos .contenedorProductos .item .nombre {
    font-size: 14px;
  }
  .alineacionProductos .contenedorProductos .item .precio {
    font-size: 12px;
  }
  .extras {
    margin: 15px;
    padding: 14px;
  }
  .extras img {
    max-width: 50%;
    height: auto;
    object-fit: contain;
  }
  .extras .contenedorTexto {
    padding: 10px;
  }
  .extras .contenedorTexto h2 {
    font-size: 18px;
  }
  .extras .contenedorTexto form {
    width: 100%;
    justify-content: center;
  }
  .extras .contenedorTexto form input[type=email] {
    font-size: 10px;
    padding: 8px;
    width: 80%;
  }
  .extras .contenedorTexto form button[type=submit] {
    font-size: 10px;
    padding: 8px;
    width: 20%;
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  .alineacionProductos h2 {
    font-size: 22px;
    padding: 8px;
  }
  .alineacionProductos .contenedorProductos {
    flex-direction: row;
    gap: 10px;
    margin: 10px;
  }
  .alineacionProductos .contenedorProductos .item {
    width: calc(25% - 10px);
  }
  .alineacionProductos .contenedorProductos .item h3 {
    font-size: 16px;
  }
  .alineacionProductos .contenedorProductos .item .nombre {
    font-size: 14px;
  }
  .alineacionProductos .contenedorProductos .item .precio {
    font-size: 12px;
  }
  .extras {
    margin: 20px;
    padding: 18px;
  }
  .extras img {
    max-width: 45%;
    height: auto;
    object-fit: contain;
  }
  .extras .contenedorTexto {
    padding: 15px;
  }
  .extras .contenedorTexto h2 {
    font-size: 22px;
  }
  .extras .contenedorTexto form {
    width: 100%;
    justify-content: center;
  }
  .extras .contenedorTexto form input[type=email] {
    font-size: 12px;
    padding: 10px;
    width: 70%;
  }
  .extras .contenedorTexto form button[type=submit] {
    font-size: 12px;
    padding: 10px;
    width: 25%;
  }
}
@media (max-width: 500px) {
  .ubicacion {
    margin: 20px auto 20px auto;
  }
  .ubicacion .contenedorTienda {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .ubicacion .contenedorTienda .info {
    padding: 5px;
    margin: 5px;
  }
  .ubicacion .contenedorTienda .info p {
    font-size: 8px;
    margin-bottom: 8px;
  }
  .ubicacion .contenedorTienda .info img {
    max-width: 250px;
  }
  .ubicacion .contenedorTienda .mapa iframe {
    height: 200px;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .ubicacion {
    margin: 20px auto 20px auto;
  }
  .ubicacion .contenedorTienda {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .ubicacion .contenedorTienda .info {
    padding: 5px;
    margin: 5px;
  }
  .ubicacion .contenedorTienda .info p {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .ubicacion .contenedorTienda .info img {
    max-width: 300px;
  }
  .ubicacion .contenedorTienda .mapa iframe {
    height: 250px;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  .ubicacion .contenedorTienda .info {
    padding: 10px;
    margin: 10px;
  }
  .ubicacion .contenedorTienda .info p {
    font-size: 14px;
    margin: 6px;
  }
  .ubicacion .contenedorTienda .info img {
    max-width: 350px;
  }
  .ubicacion .contenedorTienda .mapa iframe {
    height: 350px;
  }
}
@media (max-width: 500px) {
  .contenedorTutoriales {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
  }
  .contenedorTutoriales .video {
    padding: 5px;
  }
  .contenedorTutoriales .video iframe {
    max-height: 200px;
  }
  .contenedorTutoriales .video p {
    font-size: 12px;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .contenedorTutoriales {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .contenedorTutoriales .video iframe {
    max-height: 200px;
  }
  .contenedorTutoriales .video p {
    font-size: 14px;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  .contenedorTutoriales {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .contenedorTutoriales .video p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
